Flask==2.2.2
click==8.1.3
mysqlclient
Flask-Assets
Flask-SQLAlchemy==3.0.3
SQLAlchemy==2.0.15
flask-debugtoolbar
requests
BeautifulSoup4
sqlacodegen
flask-sqlacodegen
## 如果是windows uwsgi安装不成功，注释掉就好了
uwsgi
validators
