{% extends "home/common/layout.html" %}

{% block content %}
<section class="content">
    <div class="page-header">
        <h3>个人信息
            {% if config['LOGIN_TYPE_MAP']['open_wechat'] %}
                {% if has_bind_open_wechat %}
                    <a class="btn btn-link unbind_wechat pull-right" href="{{ GlobalUrlService.buildNull() }}">
                        <i class="fa fa-weixin" aria-hidden="true"></i>解绑微信
                    </a>
                {% else %}
                    <a class="btn btn-link bind_wechat pull-right" href="{{ GlobalUrlService.buildNull() }}">
                        <i class="fa fa-weixin" aria-hidden="true"></i>绑定微信
                    </a>
                {% endif %}
            {% endif %}
            <a class="btn btn-link pull-right" data-toggle="tooltip" title="系统不存储任何密码，使用的就是您邮箱的授权码进行登录的">重置密码</a>
            <a class="btn btn-link pull-right set_info">修改信息</a>
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <td>姓名</td>
                    <td>{{ info.name }}</td>
                    <td>邮箱（登录用户名）</td>
                    <td>{{ info.email }}</td>
                </tr>
                <tr>
                    <td>最新更新时间</td>
                    <td>{{ info.updated_time }}</td>
                    <td>创建时间</td>
                    <td>{{ info.created_time }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{%block js %}
{% if config['LOGIN_TYPE_MAP']['open_wechat'] %}
<script src="//res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js?version=20210129135132"></script>
{% endif %}
<script src="{{ GlobalUrlService.buildWWWStaticUrl('/js/home/user/profile/index.js') }}"></script>
{% endblock %}