<div class="calendar_container">
    <div class="title">
        程序员老黄历<sup>beta</sup>
    </div>
    <div class="date">今天是2017年4月15日 星期六</div>
    <div class="good">
        <div class="title">
            <table>
                <tbody><tr><td>宜</td></tr>
            </tbody></table>
        </div>
        <div class="content">
            <ul></ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="split"></div>
    <div class="bad">
        <div class="title">
            <table>
                <tbody><tr><td>不宜</td></tr>
            </tbody></table>
        </div>
        <div class="content">
            <ul></ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="split"></div>
    <div class="line-tip">
        <strong>座位朝向：</strong>面向<span class="direction_value">西方</span>写程序，BUG 最少。
    </div>
    <div class="line-tip">
        <strong>今日宜饮：</strong><span class="drink_value"></span>
    </div>
    <div class="line-tip">
        <strong>女神亲近指数：</strong><span class="goddes_value"></span>
    </div>
</div>