{% extends "home/common/layout.html" %}

{% block content %}
<section class="content">
    <div class="page-header">
        <h3>访问日志</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                     <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                             <form class="form-inline wrap_search">
                                 <div class="form-group" style="width: 18%;">
                                     <input type="text" class="form-control col-sm-12 col-md-3  mb-2 mr-2"  name="date_range_picker" placeholder="请选择日期" value="" autocomplete="off" style="width: 100%;">
                                    <input type="hidden" name="date_from" value="{{sc['date_from']}}">
                                    <input type="hidden" name="date_to" value="{{sc['date_to']}}">
                                 </div>
                                 <div class="form-group">
                                     <button type="submit" class="btn btn-primary">搜索</button>
                                 </div>
                                 <a class="btn btn-link" href="{{ GlobalUrlService.buildHomeUrl('/log/access') }}">重置搜索</a>
                             </form>
                        </div>
                     </div>
                </div>
                <div class="box-body table-responsive no-padding" >
                    <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="14%">时间</th>
                                    <th width="10%">姓名</th>
                                    <th>请求URI</th>
                                    <th width="14%">IP</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if list %}
                                {% for item in list %}
                                <tr>
                                    <td>{{ item.created_time }}</td>
                                    <td>{{ item.uname }}</td>
                                    <td>{{ item.target_url }}</td>
                                    <td>{{ item.ip }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">(＞﹏＜)没有数据</td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                </div>
                <div class="box-footer clearfix">
                    {% include 'common/pagenation.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{%block js %}
{% autoescape false %}
    {{ StaticPluginsHelper.daterangepicker() }}
{% endautoescape %}
<script src="{{ GlobalUrlService.buildWWWStaticUrl('/js/home/log/common.js') }}"></script>
{% endblock %}